.clean-btn {
  background: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 3px;
}
.clean-btn:hover {
  background-color: var(--bs-secondary-bg-subtle);
  cursor: pointer;
}

.btn-outline-primary {
  --bs-btn-color: var(--dark-red);
  --bs-btn-border-color: var(--dark-red);
  --bs-btn-hover-color: var(--dark-red);
  --bs-btn-hover-bg: var(--dark-red);
  --bs-btn-hover-border-color: var(--dark-red);
  --bs-btn-active-bg: var(--dark-red);
  --bs-btn-active-border-color: var(--dark-red);
  --bs-btn-disabled-color: var(--dark-red);
  --bs-btn-disabled-border-color: var(--dark-red);

}

.btn-outline-primary:hover {
  color: #f6dfc5;
}

[data-bs-theme=dark] a.btn-outline-primary:hover {
  color: #91251D;
}
